<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.excerpt | strip_html }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
    <meta property="og:url" content="{{ page.permalink }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
    <meta name="twitter:card" content="summary_large_image" />

    {% if page.image %}
    {% capture image %}/assets/images/{{page.image}}{% endcapture %}
    <meta name="twitter:image" content="{{ image | absolute_path }}" />
    <meta property="og:image" content="{{ image | absolute_path }}" />
    {% endif %}

    {% stylesheet reset %}
    {% stylesheet main %}
    {% stylesheet layouts/page %}
</head>
<body class="page page--{{ page.title | downcase }}">
    <div
        class="header page-header"
        {% if page.image %}
        {% capture path %}/assets/images/{{page.image}}{% endcapture %}
        style="background-image: url({{ path | absolute_path }})"
        {% endif %}
    >
        <h1>{{ page.title }}</h1>
    </div>

    <div class="page-contents">
        <div class="page-contents__inner">
            {{ content }}
        </div>
    </div>

</body>
</html>